body {
	background-image: url(file:///home/joel/Documents/kod/portfolio/IMG_20170114_130041.jpg);
	background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1 {
	color: white;
	text-align: center;
	font-family: sans-serif;
}
.social {
    margin: auto;
    width: 40%;
    height: 1400px;
}

.description {
    text-align: center;
    color: white;
    font-size: 30px;
    font-style: sans-serif;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 7px;
}
